LLM_PROVIDER=anthropic
LLM_MODEL=claude-sonnet-4-6
BROWSER_USE_API_KEY=
OPENAI_API_KEY=
ANTHROPIC_BASE_URL=https://mukes-mnczi1o7-swedencentral.cognitiveservices.azure.com/anthropic
ANTHROPIC_API_KEY=8y6hEl3yPKKqVTMWBgYIU1Q7IXVjzt9r9fgbUAZp14KyMj6NYopiJQQJ99CCACfhMk5XJ3w3AAAAACOGG1Gj
GOOGLE_API_KEY=

